{% extends 'base.html.twig' %}

{% block title %}All public notes {% endblock %}

{% block body %}
<h1>All public notes </h1>
<div class="py-10 text-2xl text-center">
{% set lastMonth = date('2024-07-07')}
{{dump }}
published 
</div>

{% endblock %}
